@{
    ViewBag.Title = "Manage Your User Account";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="well">
    <p>Here you can manage your account settings including changing your password.</p>
    <ul>
        <li>@Html.ActionLink("Change Password", "Reset", "Account")</li>
    </ul>
</div>

