<div class="span4 box-container portlet">
	<h3>Latest Activity</h3>
	<div class="box-body-tall">
		<div class="btn-group" style="padding: 10px">
			<button id="activityCheck" class="btn">Recent</button>
			<button id="activityYesterday" class="btn">Yesterday</button>
			<button id="activityLastWeek" class="btn">Last Week</button>
		</div>
		<div id="list-activity"></div>
	</div>
	<h4>@Html.ActionLink("View More", "Index", "Activity")</h4>
</div>