<div class="span4 box-container portlet">
	<h3>Staff Tools</h3>
	<div class="box-body">
		<div class="btn-group" style="padding: 10px;">
			<a class="btn btn-info" href="~/Staff/AddUser"><i class="icon-plus"></i>&nbsp;Create User</a>
			<a class="btn btn-warning" href="~/Staff/Users">View Users</a>
		</div>
		<div id="list-logs">
			<ul class="message-list">
			
			</ul>
		</div>
	</div>
	<h4>@Html.ActionLink("View More", "Staff", "Users")</h4>
</div>