<div class="well">
	<ul class="nav nav-list">
		<li class="nav-header">Folders</li>
		<li><a href="#"><i class="icon-envelope"></i>&nbsp;Inbox</a></li>
		<li><a href="#"><i class="icon-folder-close"></i>&nbsp;Read Messages</a></li>
		<li><a href="#"><i class="icon-folder-close"></i>&nbsp;Sent Messages</a></li>
	</ul>
</div>